* {
  box-sizing: border-box;
}
.override{
  margin:0px !important;
}
body{
  margin: 0px;
  font-family: monospace;

}
p{
  margin-block-start:0;
  margin-block-end:1px;
}

form{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

input[type=text], input[type=password], textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
}

button{
  border: none;
  width:100%;
  padding: 14px 20px;
  background-color: #EEE;
  cursor: pointer;
}
.backgroundimg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  position:fixed;
  background-image:url(logo.png);
}


#loader{
  position:absolute;
  top:50%;
  left:50%;
  border:16px solid #f3f3f3;
  border-radius:50%;
  width: 120px;
  height: 120px;
  margin:-60px 0px 0px -60px;
  border-top:16px solid #000;
  border-right:16px solid #333;
  border-bottom:16px solid #777;
  border-left:16px solid #BBB;
  animation:spin 4s infinite;
}


@keyframes spin{
50%{transform:rotate(360deg);}
}

#head1{
  display: none;
}

#staticnav{
  padding:15px 0px 15px 15px;
  background-color: #333;
}

#staticnav a{
  cursor: pointer;
  padding:10px;
  font-size: 22px;
  color: #8dca4099;
}

#parallax{
  min-height: 500px;
  opacity:0.9;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax p{
  padding: 10px;
  color: darkgray;
  letter-spacing: 10px;
  font-size: 23px;
  cursor: pointer;
  background-color: #000000a3;
}

.contentSec{
	display:none;
}
@media screen and (max-width:425px) and (max-height:628px) {
  *{
    font-size: 12px;
  }
  #staticnav{
    display: grid;
  }
  img{
    max-width: 30vw;
  }

  #parallax p{
    font-size: 14px;
    letter-spacing: unset;
  }
  #staticnav a {
    font-size: 10px;
  }
  #parallax{
    min-height: 65vmin;
    background-attachment: unset;
  }
}
